/* ===== CORES ===== */
.text-gold {
  color: #d4af37;
}

body {
  background: linear-gradient(to bottom, #000, #000000);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  border-bottom: 1px solid #000000;
}

.logo-top-left {
    height: 200px;
    width: auto;
    
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem; 
  transition: color 0.3s;

}

.nav-links a:hover {
  color: #d4af37;
}


/* Navegação */
.nav-links { list-style: none; display: flex; gap: 28px; align-items:center; }
.nav-links a { font-size: 1.3rem; color: #fff; opacity: 0.95; }
.nav-links a:hover { color: #d4af37; }

/* Ações (ícones da casinha e carrinho) */
.actions { display:flex; gap:12px; align-items:center; }

/* Botão ícone estilo quadrado claro */
.icon-btn {
  width: 70px;
  height: 58px;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #000000;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.3);
  transition: transform .15s ease, box-shadow .15s ease;
}
.icon-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.45);
}
.icon-btn svg {
  display:block;
  width: 28px;
  height: 28px;
}

/* ===== MAIN ===== */
.main-content {
  background: linear-gradient(to bottom, #000000 0%, #2b2b2b 100%);
  min-height: 75vh;
}
.info-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;          /* aumenta a largura da caixa */
  max-width: 900px;    /* limite maior para telas grandes */
  padding: 3rem;       /* aumenta o espaçamento interno */
  margin-top: 2rem;    /* afasta um pouco do topo, se quiser */
}

.info-box p {
  margin: 0.5rem 0;
 font-size: 1.3rem;          /* aumenta o tamanho da letra */
  font-family: "Poppins", sans-serif;  /* muda a fonte */
  font-weight: 400;           /* define a espessura da fonte */
  letter-spacing: 0.5px;      /* dá um leve espaçamento entre letras */
}

.footer {
  background: transparent;
  padding: 28px 18px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.03);
  color: #cfcfcf;
}
.footer-info p { margin: 6px 0; font-size: .9rem; }
.payments i { margin: 0 8px; color: #d4af37; font-size: 1.4rem; }

/* ===== SEÇÃO SOBRE ===== */
.sobre {
  background-color: #111;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}

.sobre-text {
  max-width: 800px;
  margin: 0 auto 1.2rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #e0e0e0;
}

.sobre h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #d4af37;
}
