.main_content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.products_grid_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  z-index: 1;
}

.products_grid_container::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Ajuste conforme o tamanho desejado */
  height: 200px;
  margin: auto;
  opacity: 0.20;
  pointer-events: none;
  z-index: 0;
  background: url(../../assets/goldstore_logo.png) no-repeat center/contain;
}

.product_card {
  border: 2px solid var(--gold);
  padding: 10px;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden;
}
